.bg-adaptive {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
    top: 4px;

    &--footer {
        top: -4px;
    }
}

.total__bg {
    margin-bottom: 102px;

    &--desktop {
        display: none;
    }
}

.bg-bottom {
    display: none;
}

@media (min-width: 900px) {
    .bg-bottom {
        display: block;
        position: relative;
        top: 4px;

        &__footer {
            top: -4px;
        }
    }

    .bg-adaptive {
        display: none;
    }

    .total__bg {
        display: none;
        
        &--desktop {
            display: block;
        }
    }
}

