.button {
    background-color: #FB8C00;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF; 
    border-radius: 88px;
    padding: 13px 30px;

    &--upload {
        padding: 8px 24px;
        background-color: #B4BBCE;
        margin-bottom: 31px;
    }

    &:hover {
        background: #2F80ED;
    }

    &--contact {
        padding: 14px 89px;
        margin-bottom: 16px;
    }

    &--not-found {
        padding: 14px 80px;
    }

    &--menu {
        padding: 0;
        width: 44px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;

        

        & .button__icon {
            &--close {
                display: none;
            }
        }

        &.button--open {
            margin-top: 20px;
            
            & .button__icon {
                &--open {
                    display: none;
                }

                &--close {
                    display: block;
                }

            }    
        }   
    }
    
    &__next {
        background: #B4BBCE;
        border-radius: 37px;
        padding: 8px 34px;

        &--smile {
            padding: 14px 56px;
        }

        &:hover {
            background: #2C2F36;
        }
    }
    
    &__prev {
        background: #FB8C00;
        border-radius: 37px;
        padding: 8px 34px;   
    }

    &__form {
        margin-bottom: 16px;
        padding: 14px 44px;
    }

    &__send {
        display: none;
    }
}

.button__youtube {
    position: relative;
    width: 44px;
    height: 44px;
    background: rgba(180,187,206,0.3);
    border-radius: 22px;
    border: none;

    &::before {
        position: absolute;
        content: "";
        width: 20px;
        height: 16px;
        background-image: url('../img/youtube_picture.png');
        background-repeat: no-repeat;
        top: 13px;
        left: 12px;
    }

    &:hover {
        background: #2C2F36;
        position: relative;

        &::before {
            width: 18px;
            height: 14px;
            background: white;
            border-radius: 2px;
            top: 14px;
            left: 13px;
        }

        &::after {
            position: absolute;
            content: "";
            width: 0;
            height: 0;
            border-top: 4px solid transparent;
            border-bottom: 4px solid transparent;
            border-left: 8px solid #2C2F36;
            top: 17px;
            right: 17px;
        }
    }
}

.button__facebook {
    position: relative;
    width: 44px;
    height: 44px;
    background: rgba(180,187,206,0.3);
    border-radius: 22px;
    margin-left: 24px;
    border: none;

    &::before {
        position: absolute;
        content: "";
        width: 10.5px;
        height: 20px;
        background-image: url('../img/face_picture.png');
        background-repeat: no-repeat;
        top: 11px;
        left: 17px;
    }

    &:hover {
        background: #2C2F36;
        position: relative;

        &::before {
        position: absolute;
        content: "";
        width: 10.5px;
        height: 20px;
        background-image: url('../img/face_wite.png');
        background-repeat: no-repeat;
        top: 11px;
        left: 17px;
        }
    }
}

.button-block {
    display: flex;
    justify-content: space-between;
}

@media (min-width: 900px) {
    .button {
        position: relative;
        padding: 13px 30px 13px 58px;

        &--nav {
            &::before {
                position: absolute;
                content: "";
                width: 20px;
                height: 16px;
                background-image: url('../img/button-icon.png');
                background-repeat: no-repeat;
                top: 15px;
                left: 35px;
            }
        }

        &--upload {
            margin-bottom: 0;
            margin-left: 24px;
        }

        &__send {
            display: block;
            padding: 14px 64px 14px 89px;
        }

        &--menu {
            display: none;
        }

        &__next {
            padding: 14px 56px;
        }
        
        &__prev {
            padding: 14px 56px;  
        }

        &__form {
            margin-bottom: 0;
            padding: 14px 76px;
            margin-right: 30px;
        }
    }

    .slider-button {
        position: relative;
        border: none;
        width: 46px;
        height: 46px;   
        background: #FF7129;
        box-shadow: 0px 4px 28px rgba(255, 113, 41, 0.29);
        border-radius: 50px;

        &--next {
            margin-right: 24px;
            &::after {
                position: absolute;
                content: "";
                background: white;
                width: 10px;
                height: 2px;    
                transform:rotate(45deg);
                top: 24px;
                left: 17px;
            }

            &::before {
                position: absolute;
                content: "";
                background: white;
                width: 10px;
                height: 2px;    
                transform:rotate(-45deg);
                top: 18px;
                left: 17px;
            }
        }

        &--prev {
            &::after {
                position: absolute;
                content: "";
                background: white;
                width: 10px;
                height: 2px;    
                transform:rotate(45deg);
                top: 18px;
                left: 20px;
            }

            &::before {
                position: absolute;
                content: "";
                background: white;
                width: 10px;
                height: 2px;    
                transform:rotate(-45deg);
                top: 24px;
                left: 20px;
            }
        }
    }

    .button-block {
        &--terms {
            display: none;
        }
    }
}