.contacts {
    &__wrapper {
        margin-left: 15px;
    }

    &__telefon {
        text-decoration: none;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: #2C2F36;
        margin-bottom: 12px;
    }

    &__email {
        text-decoration: none;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #2F80ED;
        margin-bottom: 15px;
    }

    &__adress {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #2C2F36;
        margin-bottom: 15px;
    }
}

.form-contacts {
    &__text {
        min-width: 177px;
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 29px;
        color: #2C2F36;
        width: auto;
        margin-bottom: 32px;
    }  
}

.map {
    position: relative;

    &::after {
        position: absolute;
        content: "";
        background-image: url("../img/contacts_elipse.png");
        background-repeat: no-repeat;
        z-index: -5;
        width: 350px;
        height: 350px;
        left: 0;
        top: 35px;
    }

    &__desktop {
        display: none;
    }
}

.label {
    display: flex;
    flex-direction: column;
}

@media (min-width: 900px) {
    .contacts {
        overflow: hidden;
        
        &__wrapper {
            display: flex;
            margin: 0 auto;
            max-width: 1170px;
        }

        &__wrapper-info {
            width: 33.3%;
        }
    }

    .map {
        width: 66.7%;
        padding-left: 103px;
        height: 800px;

        &::after {
            width: 600px;
            height: 700px;
            left: 260px;
            top: 20px;
            background-size: 100%;
        }

        &__adaptiv {
            display: none;
        }

        &__desktop {
            display: block;
            border-radius: 35px;
        }
    }
}

@media (min-width: 1100px) {
    .contacts {
        &__promoution {
            display: flex;
            justify-content: space-between;
        }
    }
}