.footer {
    background: url("../img/footer_bg_top.png") top/100% 150px no-repeat,  
    radial-gradient(98.97% 276.64% at 1.03% 40.7%, #EBF6FF 0%, #EFF8FF 100%);

    &__wrapper {
        padding-left: 15px;
        padding-top: 150px;
    }

    &__block {
        margin-top: 20px;
    }

    &__text {
        display: flex;
        flex-direction: column;
        margin-bottom: 45px;
    }

    &__line {
        width: auto;
        height: 4px;
        background: #B4BBCE;
        opacity: 0.3;
        border-radius: 38px;
        margin-bottom: 27px;

        &--contact {
            margin-right: 15px;
            margin-bottom: 40px;
        }
    }

    &__year {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #2C2F36;
        margin-bottom: 11px;
    }

    &__made-in {
        position: relative;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #B4BBCE;
        padding-bottom: 27px;

        &::before {
            position: absolute;
            content: "";
            background-image: url(../img/heart.png);
            background-repeat: no-repeat;
            width: 10px;
            height: 10px;
            top: 2px;
            left: 157px;
        }
    }
}

.contact {
    &__telefon-box {
        margin-bottom: 12px;
    }

    &__telefon-namber {
        text-decoration: none;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: #2C2F36;

        &--contact {
            margin-bottom: 12px;
        }
    }
}

.info {
    &__adress-wrapper {
        margin-bottom: 12px;
    }
    &__adress {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #2C2F36;

        &--contact {
            margin-bottom: 15px;
        }
    }

    &__email-wrapper {
        margin-bottom: 18px;
    }

    &__email {
        text-decoration: none;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #2F80ED;

        &--contact {
            margin-bottom: 15px;
        }
    }
}

.button-link {
    display: flex;
    margin-bottom: 33px;

    &__youtube {
        position: relative;
        width: 44px;
        height: 44px;
        background: rgba(180,187,206,0.3);
        border-radius: 22px;
        border: none;
    
        &::before {
            position: absolute;
            content: "";
            width: 20px;
            height: 16px;
            background-image: url('../img/youtube_picture.png');
            background-repeat: no-repeat;
            top: 15px;
            left: 12px;
        }
    
        &:hover {
            background: #2C2F36;
            position: relative;
    
            &::before {
                width: 18px;
                height: 13px;
                background: white;
                border-radius: 3px;
                top: 16px;
                left: 13px;
            }
    
            &::after {
                position: absolute;
                content: "";
                width: 0;
                height: 0;
                border-top: 4px solid transparent;
                border-bottom: 4px solid transparent;
                border-left: 8px solid #2C2F36;
                top: 19px;
                right: 17px;
            }
        }
    }

    &__facebook {
        position: relative;
        width: 44px;
        height: 44px;
        background: rgba(180,187,206,0.3);
        border-radius: 22px;
        margin-left: 24px;
        border: none;
    
        &::before {
            position: absolute;
            content: "";
            width: 10.5px;
            height: 20px;
            background-image: url('../img/face_picture.png');
            background-repeat: no-repeat;
            top: 11px;
            left: 17px;
        }
    
        &:hover {
            background: #2C2F36;
            position: relative;
    
            &::before {
            position: absolute;
            content: "";
            width: 10.5px;
            height: 20px;
            background-image: url('../img/face_wite.png');
            background-repeat: no-repeat;
            top: 11px;
            left: 17px;
            }
        }
    }
}

@media (min-width: 900px) {
    .footer {
        background: url("../img/footer_bg_dt.png") top/100% 150px no-repeat,  
        radial-gradient(98.97% 276.64% at 1.03% 40.7%, #EBF6FF 0%, #EFF8FF 100%);
        max-width: 1600px;
        margin: 0 auto;

        &__wrapper {
            padding-left: 0;
            margin: 0 auto;
            max-width: 1170px;
        }
    
        &__bg {
            background-size: cover;
            background-repeat: no-repeat;
        }
    
        &__block {
            max-width: 1170px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            padding-top: 40px;
        }
    
        &__text {
            padding-left: 75px; 
        }

        &__line {
            &--contact {
                margin-bottom: 60px;
            }
        }

        &__rights {
            display: flex;
            justify-content: space-between;
        }

        &__year {
            margin-bottom: 0;
        }

        &__made-in {
            margin-bottom: 0;
            margin-right: 20px;
        }
    }

    
    .logo-block {
        display: flex;
        width: 50%;
    }

    .contact {
        display: flex;
        justify-content: space-between;
        width: 50%;
        

        &__telefon-box {
            padding-left: 100px;
        }
    
        &__telefon-namber {
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
            color: #2C2F36;
        }

        &__telefon {
            margin-top: 8px;
        }
    }

    .info {
        &__adress-wrapper {
            margin-bottom: 12px;
        }
        &__adress {
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            color: #2C2F36;
        }
    
        &__email-wrapper {
            margin-bottom: 18px;
        }
    
        &__email {
            display: flex;
            justify-content: end;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            color: #2F80ED;
        }
    }
    
    .button-link {
        display: flex;
        justify-content: end;
    }
}