.price-form {
    margin-top: 32px;
    margin-bottom: 102px;
    width: 345px;
    height: 654px;
    background: #FFFFFF;
    box-shadow: 0px 4px 68px rgba(33, 33, 33, 0.06);
    border-radius: 35px;
    
    &__wrapper {
        padding: 44px 24px;
    }
}

.form-stap {
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    color: #2C2F36;
    margin-bottom: 40px;
}

.form-indicator {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

    &__active {
        width: 89px;
        height: 4px;
        background: #FB8C00;
        border-radius: 38px;
    }
    
    &__dot {
        width: 4px;
        height: 4px;
        background: #B4BBCE;
        opacity: 0.3;
        border-radius: 38px;
    }
    
    &__passive {
        width: 89px;
        height: 4px;
        background: #B4BBCE;
        opacity: 0.3;
        border-radius: 38px;
    }
}

.photo-upload {
    width: 298px;
    height: 114px;
    border: 3px dashed #e2e5f0;
    border-radius: 7px;
    cursor: pointer;
    margin-bottom: 16px;

    &:hover {
        border: 3px dashed #FB8C00; 
    }
    
    &__text {
        position: relative;
        margin: 0;
        width: 177px;
        margin-top: 24px;
        margin-left: 66px;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 140%;
        color: #2C2F36;

        &::before {
            position: absolute;
            content: "";
            background-image: url('../img/picture_text.png');
            background-repeat: no-repeat;
            width: 22px;
            height: 20px;
            top: 0px;
            left: -33px;
        }
    }
}

.foto-information {
    margin-bottom: 24px;

    &__title {
        margin-bottom: 10px;
    }

    &__content {
        font-weight: 500;
        font-size: 12px;
        line-height: 140%;
        color: #959CAC;
    }

    &__size {
        display: flex;
        justify-content: space-between;
        margin-bottom: 24px;
    }
}

.foto-link {
    background: #F9FAFB;
    border: 1px solid #ECEEF1;
    border-radius: 7px;
    margin-bottom: 40px;

    &__content {
        width: 241px;
        padding: 16px 32px 16px 24px;
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
        color: #2C2F36;
    }
}

.form-nav {
    display: flex;
    justify-content: space-between;
}

@media (min-width: 900px) {
    .price-form {
        margin-top: 0;
        margin-left: 0;
        width: 670px;
        height: 635px;
        margin-bottom: 0;
        
        &__wrapper {
            padding: 44px 40px;
        }
    }

    .form-indicator{
        &__active {
            width: 183px;
        }

        &__passive {
            width: 183px;
        }
    }

    .photo-upload {
        width: 590px;
        height: 109px;
        margin-bottom: 20px;

        &__text {
            width: 373px;
            margin-top: 44px;
            margin-left: 126px;  
        }
    }

    .foto-information {
        display: flex;
        justify-content: space-between;
        margin-bottom: 16px;

        &__title {
            width: 50%;
        }

        &__content {
            width: 50%;
        }

        &__size {
            margin-bottom: 47px;
        }
    }


    .foto-link {
        margin-bottom: 40px;

        &__content {
            width: auto;
            padding-left: 24px;
            padding-top: 15px;
            padding-bottom: 35px;
        }
    }
}
