.form-block {
    width: 345px;
    height: 654px;
    background: #FFFFFF;
    box-shadow: 0px 4px 68px rgba(33, 33, 33, 0.06);
    border-radius: 35px;
    z-index: 10;

    &__wrapper {
        padding: 44px 24px;
    }

    &--clouse {
        display: none;
    }

    &__photo-upload {
        width: 298px;
        height: 114px;
        border: 3px dashed #e2e5f0;
        border-radius: 7px;
        cursor: pointer;
        margin-bottom: 16px;
    
        &:hover {
            border: 3px dashed #FB8C00; 
        }
    }
        
    &__text {
        position: relative;
        width: 177px;
        margin-top: 24px;
        margin-left: 66px;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 140%;
        color: #2C2F36;

        &::before {
            position: absolute;
            content: "";
            background-image: url('../img/picture_text.png');
            background-repeat: no-repeat;
            width: 22px;
            height: 20px;
            top: 0px;
            left: -33px;
        }

        &--stap {
            width: auto;
            margin: 0;
            margin-bottom: 38px;

            &::before {
                display: none;
            }
        }

        &--contact {
            width: auto;
            margin: 0;
            margin-bottom: 32px;

            &::before {
                display: none;
            }
        }
    }

    &__title {
        font-weight: 800;
        font-size: 24px;
        line-height: 29px;
        color: #2C2F36;
        margin-bottom: 58px;

    }

    &__label-block {
        display: flex;
        margin-bottom: 24px;
        
        &--stap-next {
            margin-bottom: 210px;
        }
    }

    &__label {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 140%;
        color: #959CAC;
        

        &--stap-two {
            display: none;
        }

        &--email {
            position: relative;

            &::after {
                position: absolute;
                content: "*";
                color: red;
                width: 10px;
                height: 10px;
                left: 160px;
                top: 0;
            }
        }   
    }

    &__input {
        width: 139px;
        height: 50px;
        background: #F9FAFB;
        border: 1px solid #ECEEF1;
        border-radius: 7px;
        padding-left: 24px;
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
        color: #2C2F36;

        &:hover {
            border: 3px solid #FB8C00; 
        }

        &:focus {
            outline: none;
            border: 3px solid #FB8C00; 
        }
        
        &--name {
            margin-right: 19px;
        }

        &--name-stap-three {
            width: 298px;
            margin-bottom: 24px;
        }

        &--tel-stap-three {
            width: 298px;
            margin-bottom: 210px;
        }

        &--width {
            margin-right: 19px;
        }

        &--bottom {
            color: #959CAC;
            font-size: 12px;
        }

        &--email {
            width: 297px;
            margin-bottom: 32px;
        }

        &--contact {
            width: 345px;
            margin-bottom: 30px;
        }

        &--contact-massage {
            height: 129px;
            margin-bottom: 40px;
        }
    }

    &__upload {
        margin-bottom: 24px;
        font-weight: 600;
        font-size: 16px;
        line-height: 140%;
        color: #2C2F36;
    }

    &__file {
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
        color: #2C2F36;
        margin-bottom: 12px;
        opacity: 0.5;
    }

    &__description {
        width: 297px;
        margin-bottom: 40px;
        background: #F9FAFB;
        border: 1px solid #ECEEF1;
        border-radius: 7px;
    }

    &__text-description {
        padding: 15px 24px 32px 24px;
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
        color: #959CAC;
    }

    .form-stap {
        font-weight: 800;
        font-size: 24px;
        line-height: 29px;
        color: #2C2F36;
        margin-bottom: 40px;
    }
}   

.form-indicator {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

    &--stap-two {
        margin-bottom: 50px;
    }

    &__active {
        width: 89px;
        height: 4px;
        background: #FB8C00;
        border-radius: 38px;
    }
    
    &__dot {
        width: 4px;
        height: 4px;
        background: #B4BBCE;
        opacity: 0.3;
        border-radius: 38px;

        &--active {
            background: #FB8C00;
            opacity: 1;
        }
    }
    
    &__passive {
        width: 89px;
        height: 4px;
        background: #B4BBCE;
        opacity: 0.3;
        border-radius: 38px;
    }
}
    
.foto-information {
    margin-bottom: 24px;

    &__content {
        font-weight: 500;
        font-size: 12px;
        line-height: 140%;
        color: #959CAC;

        &--size {
            margin-bottom: 10px;
        }
    }

    &__size {
        display: flex;
        justify-content: space-between;
        margin-bottom: 24px;
    }
}

.foto-link {
    background: #F9FAFB;
    border: 1px solid #ECEEF1;
    border-radius: 7px;
    margin-bottom: 40px;

    &__content {
        width: 241px;
        padding: 16px 32px 16px 24px;
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
        color: #2C2F36;
    }
}


@media (min-width: 900px) {
    .form-block {
        width: 670px;
        height: 635px;
    
        &__wrapper {
            padding: 44px 40px;
        }

        &__photo-upload {
            width: 590px;
            height: 109px;
            margin-bottom: 20px;
        }

        &__text {
            width: 373px;
            margin-top: 44px;
            margin-left: 126px;
            
            &--stap {
                margin-left: 0;
                margin-bottom: 32px;
            }

            &--contact {
                margin-bottom: 64px;
                margin-left: 0;
            }
        }
    
        &__title {
            margin-bottom: 47px;
    
        }
    
        &__label-block {
            display: flex;
            margin-bottom: 30px;

            &--stap-next {
                margin-bottom: 172px;
            }
        }
    
        &__label {
            &--color-white {
                color: white;
            }

            &--stap-two {
                display: block;
            }

            &--color {
                position: relative;
                &::after {
                    position: absolute;
                    content: "Цвет";
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 140%;
                    color: #959CAC;
                    left: 0;
                    top: -17px;
                }
            }

            &--email {
                position: relative;
    
                &::after {
                    position: absolute;
                    content: "*";
                    color: red;
                    width: 10px;
                    height: 10px;
                    left: 160px;
                    top: 0;
                }
            }   
        }
    
        &__input {
            width: 287px;
    
            &--name {
                margin-right: 30px;
            }

            &--stap-two {
                width: 186px;
            }

            &--color {
                font-size: 14px;
                color: #2C2F36;
            }

            &--width {
                margin-right: 16px;
            }

            &--indent {
                margin-right: 16px;
            }
    
            &--email {
                width: 590px;
                margin-bottom: 30px;
            }

            &--name-stap-three {
                width: 590px;
                margin-bottom: 36px;

                &::placeholder {
                    font-size: 12px;
                    color: #959CAC;
                }
            }
    
            &--tel-stap-three {
                width: 590px;
                margin-bottom: 172px;
            }

            &--contact {
                width: 400px;
            }

            &--contact-massage {
                margin-bottom: 56px;
            }
        }

        &__upload-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 30px;
        }

        &__file-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    
        &__upload {
            margin-bottom: 0; 
        }
    
        &__file {
            margin-bottom: 0;  
        }
    
        &__description {
            width: 590px;
            margin-bottom: 67px;
        }
    
        &__text-description {
            padding: 15px 33px 94px 24px;
        }
    
        &__button-block {
            display: none;  
        }
    }

    .form-indicator{
        &__active {
            width: 183px;
        }

        &__passive {
            width: 183px;
        }
    }

    .foto-information {
        display: flex;
        margin-bottom: 16px;
    
        &__content {
            width: 50%;

            &--size {
                margin-bottom: 0;
            }
        }
    
        &__size {
            margin-bottom: 32px;
            justify-content: start;
        }
    }

    .foto-link {
        margin-bottom: 40px;

        &__content {
            width: auto;
            padding-left: 24px;
            padding-top: 15px;
            padding-bottom: 35px;
        }
    }
}