.form-block {
    min-width: 345px;
    height: 654px;
    margin-right: 15px;
    background: #FFFFFF;
    box-shadow: 0px 4px 68px rgba(33, 33, 33, 0.06);
    border-radius: 35px;

    &--description {
        height: auto;
    }

    &__wrapper {
        padding: 44px 24px;
    }

    &__stap-title {
        font-weight: 800;
        font-size: 24px;
        line-height: 29px;
        color: #2C2F36;
        margin-bottom: 32px;
    }

    &--clouse {
        display: none;
    }

    &__photo-upload {
        min-width: 298px;
        height: 114px;
        padding-top: 24px;
        padding-left: 66px;
        padding-right: 24px;
        border: 3px dashed #e2e5f0;
        border-radius: 7px;
        cursor: pointer;
        margin-bottom: 16px;
    
        &:hover {
            border: 3px dashed #FB8C00; 
        }
    }
        
    &__text {
        position: relative;
        min-width: 177px;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 140%;
        color: #2C2F36;

        &::before {
            position: absolute;
            content: "";
            background-image: url('../img/picture_text.png');
            background-repeat: no-repeat;
            width: 22px;
            height: 20px;
            top: 0px;
            left: -33px;
        }

        &--stap {
            width: auto;
            margin: 0;
            margin-bottom: 55px;

            &::before {
                display: none;
            }
        }

        /*&--contact {
            width: auto;
            margin: 0;
            margin-bottom: 32px;

            &::before {
                display: none;
            }
        }*/
    }

    &__title {
        font-weight: 800;
        font-size: 24px;
        line-height: 29px;
        color: #2C2F36;
        margin-bottom: 58px;

    }

    &__label-block {
        display: flex;
        
        &--stap-next {
            margin-bottom: 191px;
        }
    }

    &__upload-container {
        margin-bottom: 24px;
    }

    &__upload {
        margin-bottom: 12px;
        font-weight: 600;
        font-size: 16px;
        line-height: 140%;
        color: #2C2F36;
    }

    &__file-container {
        margin-bottom: 12px;
    }

    &__file {
        display: none;
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
        color: red;
        margin-bottom: 12px;
    }

    & .test-failed {
        &.form-block {
            &__file {
                display: block;
            }
        }
    }
}

.form-input-fields {
    position: relative;
    width: 100%;

    &--width {
        margin-right: 19px;
    }

    &--stap-two {
        display: none;
    }

    &--stap-three-tel {
        margin-bottom: 191px; 
    }

    &--typefile {
        margin-bottom: 50px;
    }

    &--contact {
        width: 345px;
        margin-bottom: 30px;
    }

    &--text {
        margin-bottom: 33px;
    }

    &--description {
        margin-bottom: 40px;
    }

    & .input {
        width: 100%;
        height: 50px;
        background: #F9FAFB;
        border: 1px solid #ECEEF1;
        border-radius: 7px;
        padding-left: 24px;
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
        color: #2C2F36;

        &:hover {
            border: 1px solid #FB8C00; 
        }

        &:focus {
            outline: none;
            border: 1px solid #FB8C00;
        }

        &--question {
            width: 100%;
        }
        
        &--question-text {
            width: 100%;
            height: 200px;
            padding-top: 12px;
        }

        &--description {
            width: 100%;
            height: 100%;
            padding: 15px 24px 32px 24px;
            color: #959CAC;
        }

        &--stap-three {
            width: 100%;
        }

        &--contact-massage {
            height: 129px;
            margin-bottom: 40px;
        }

        &--contact-text {
            height: 129px;
            padding-top: 15px;
        }
    }

    & label {
        position: absolute;
        color: #959CAC;
        top: 15px;
        left: 27px;
        pointer-events: none;
        transition: all 400ms ease-in-out;

        &--email {
            position: relative;

            &::after {
                position: absolute;
                content: "*";
                color: red;
                width: 10px;
                height: 10px;
                left: 160px;
                top: 0;
            }
        }   
    }

    & input:focus + label,
      textarea:focus + label {
        top: -16px;
        left: 0;
        font-weight: 500;
        font-size: 12px;
        line-height: 140%;
    }
    
    & input:not(:placeholder-shown) + label,
      textarea:not(:placeholder-shown) + label {
        top: -16px;
        left: 0;
        font-weight: 500;
        font-size: 12px;
        line-height: 140%;
    }
}

.form-indicator {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

    &--stap-two {
        margin-bottom: 50px;
    }

    &__active {
        width: 100%;
        height: 4px;
        background: #FB8C00;
        border-radius: 38px;
    }
    
    &__dot {
        width: 4px;
        height: 4px;
        margin-left: 6px;
        margin-right: 6px;
        background: #B4BBCE;
        opacity: 0.3;
        border-radius: 38px;

        &--active {
            background: #FB8C00;
            opacity: 1;
        }
    }
    
    &__passive {
        width: 100%;
        height: 4px;
        background: #B4BBCE;
        opacity: 0.3;
        border-radius: 38px;
    }
}
    
.foto-information {
    margin-bottom: 21px;

    &__content {
        font-weight: 500;
        font-size: 12px;
        line-height: 140%;
        color: #959CAC;

        &--jpg {
            height: 70px;
        }

        &--size {
            margin-bottom: 10px;
        }
    }

    &--size {
        display: flex;
        justify-content: space-between;
        margin-bottom: 24px;
    }
}

.foto-link {
    background: #F9FAFB;
    border: 1px solid #ECEEF1;
    border-radius: 7px;
    margin-bottom: 56px;

    &__content {
        min-width: 241px;
        height: 91px;
        padding: 16px 32px 16px 24px;
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
        color: #2C2F36;
    }
}

@media (min-width: 1200px) {
    .form-block {
        width: 670px;
        height: 635px;

        &--description {
            height: auto;
        }
    
        &__wrapper {
            padding: 44px 40px;
        }

        &__title {
            margin-bottom: 47px;
        }

        &__photo-upload {
            width: 590px;
            height: 109px;
            padding: 44px 91px 43px 126px;
            margin-bottom: 16px; 
        }

        &__text {
            width: 373px;
            
            &--stap {
                margin-left: 0;
                margin-bottom: 49px;
            }

            &--contact {
                margin-bottom: 64px;
                margin-left: 0;
            }
        }
    
        &__title {
            margin-bottom: 37px;
    
        }
    
        &__label-block {
            display: flex;

            &--terms {
                display: flex;
                margin-bottom: 30px;
            }

            &--stap-next {
                margin-bottom: 140px;
            }
        }

        &__label {
            &--email {
                position: relative;
    
                &::after {
                    position: absolute;
                    content: "*";
                    color: red;
                    width: 10px;
                    height: 10px;
                    left: 160px;
                    top: 0;
                }
            }   
        }
    
        /*&__label {

            &--color {
                position: relative;
                &::after {
                    position: absolute;
                    content: "Цвет";
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 140%;
                    color: #959CAC;
                    left: 0;
                    top: -17px;
                }
            }

            &--email {
                position: relative;
    
                &::after {
                    position: absolute;
                    content: "*";
                    color: red;
                    width: 10px;
                    height: 10px;
                    left: 160px;
                    top: 0;
                }
            }   
        }*/
    
        
        &__upload-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
        }

        &__file-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 0;
        }
    
        &__upload {
            margin-bottom: 0;
            margin-right: 140px; 
        }
    
        &__file {
            margin-bottom: 0;  
        }
    
        &__button-block {
            display: none;  
        }
    }

    .form-input-fields {
        &--stap-two {
            display: block;
        }

        &--width {
            margin-right: 16px;
        }

        &--width-desktop {
            margin-right: 16px;
        }

        &--your-name {
            margin-right: 30px;
        }

        &--stap-three-tel {
            margin-bottom: 140px;
        }

        & .input {
            width: 100%;

            &--question {
                width: 235px;
            }
            
            &--question-text {
                width: 100%;
                height: 109px;
            }
    
            &--name {
                width: 280px;
            }

            &--tel {
                width: 280px;
            }

            &--description {
                width: 100%;
                height: 129px;
                padding: 15px 24px 15px 24px;
            }

            &--contact {
                width: 400px;
            }

            &--contact-massage {
                margin-bottom: 56px;
            }
        }
    }

    .form-indicator{
        &__active {
            width: 183px;
        }

        &__passive {
            width: 183px;
        }
    }

    .foto-information {
        display: flex;
        margin-bottom: 16px;
    
        &__content {
            width: 50%;

            &--img {
                width: auto;
            }

            &--size {
                margin-bottom: 0;
            }
        }
    
        &--size {
            margin-bottom: 32px;
            justify-content: start;
        }
    }

    .foto-link {
        margin-bottom: 60px;

        &__content {
            width: auto;
            height: 70px;
            padding-left: 24px;
            padding-top: 15px;
            padding-bottom: 35px;
        }
    }
}