.wrapper {
    max-width: 1170px;
    display: flex;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 40px;
}

.logo-img {
    width: 85px;
    height: 24px;
}

.nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
