.header {
    position: relative;
    margin-bottom: -74px;
    z-index: 20;
    
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        padding: 15px;
    }
}

@media (min-width: 900px) {
    .header {
        max-width: 1600px;
        margin: 0 auto;
        margin-bottom: -100px;
        
        &__wrapper {
            max-width: 1170px;
            padding: 24px 0;
           
        }
    }
}