.info {
    &__text-modeling {
        margin-bottom: 24px;
        padding-right: 15px;
    }
    
    &__list-title {
        font-weight: 700;
        font-size: 16px;
        line-height: 140%;
        color: #2C2F36;
        margin-bottom: 16px;
    }

    &__list {
        list-style: none;
    }

    &__item {
        background: url("../img/list-point.png") left no-repeat;
        width: auto;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #2C2F36;
        margin-bottom: 16px;
        padding-left: 25px;
        padding-right: 15px;
    }

    &__text-information {
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        color: #2C2F36;
        margin-bottom: 24px;
        padding-right: 15px;
        margin-bottom: 32px;
    }
}

@media (min-width: 900px) {
    .info {
        &__block-left {
            width: 50%;
        }

        &__block-right {
            width: 50%;
            padding-left: 15px;
        }
    }
}