.list {
    list-style: none;

    &__item {
        position: relative;
        width: auto;

        &::before {
            position: absolute;
            content: "";
            background-color: #FFFFFF;
            border-radius: 50px;
            width: 60px;
            height: 60px;
            left: 0px;
            top: -80px;
        }

        &--house {
            margin-bottom: 143px;

            &::after {
                position: absolute;
                content: "";
                z-index: 10;
                width: 24px;
                height: 26.67px;
                background-image: url('../img/header-menu1.png');
                left: 15px;
                top: -65px;
            }
        }

        &--stack {
            margin-bottom: 170px;

            &::after {
                position: absolute;
                content: "";
                z-index: 10;
                width: 24px;
                height: 26.67px;
                background-image: url('../img/header-menu2.png');
                left: 15px;
                top: -65px;
            }
        }

        &--printer {
            &::after {
                position: absolute;
                content: "";
                z-index: 10;
                width: 27px;
                height: 27px;
                background-image: url('../img/header-menu3.png');
                left: 15px;
                top: -65px;
            }
        }
    }

    &--manufacturing {
        position: relative;
        display: flex;
        margin-top: 80px;
    }
}

@media (min-width: 900px) {
    .list {
        display: flex;

        &__item {
            margin-right: 63px;
            &--house {
                min-width: 162px;
            }

            &--stack {
                min-width: 195px;
            }

            &--printer {
                min-width: 186px;
            }
        }

        &--manufacturing {
            display: grid;
            grid-template: repeat(4, 284px) / repeat(2, 370px);
            grid-row-gap: 126px;
            grid-column-gap: 30px;
        }
    }
}

@media (min-width: 1200px) {
    .list {
        &--manufacturing {
            display: grid;
            grid-template: repeat(3, 284px) / repeat(3, 370px);
            grid-row-gap: 126px;
            grid-column-gap: 30px;
        }
    }
}