.manufacturing {
    margin-bottom: 194px;

    &__list-wrapper {
        position: relative;
        margin-bottom: 100px;
        overflow-x: auto;
        overflow-y: hidden;
        
        &::-webkit-scrollbar {
            width: 0;
            height: 0;
        }
    }
}

@media (min-width: 900px) {
    .manufacturing {
        max-width: 1170px;
        margin: 0 auto;
        margin-bottom: 194px;

        &__list-wrapper {
            position: static;
            overflow-y: visible;
            overflow-x: visible;
        }
    }   
}