.price {
    margin: 0 auto;
    background: url("../img/price_bg_top_adaptive.png") top/100% 139px no-repeat, 
    url("../img/price_bg_adbottom.png") bottom/100% 300px no-repeat, 
    radial-gradient(98.97% 276.64% at 1.03% 40.7%, #EBF6FF 0%, #EFF8FF 100%);
    width: auto;
    margin-bottom: 102px;

    &--terms {
        background: url("../img/price_bg_top_adaptive.png") top/100% 139px no-repeat, 
        url("../img/terms_ad_bottom.png") bottom/100% 122px no-repeat, 
        radial-gradient(98.97% 276.64% at 1.03% 40.7%, #EBF6FF 0%, #EFF8FF 100%); 
    }

    &__wrapper {
        padding-left: 15px;
        padding-top: 180px;
    }
}

.promo {
    background: #F1F5F8;
    box-shadow: 0px 4px 68px rgba(33, 33, 33, 0.06);
    min-width: 345px;
    height: auto;
    margin-right: 15px;
    border-radius: 35px;
    z-index: 10;
    

    &__wrapper {
       padding: 44px 24px;
       
    }

    &__menu {
        display: flex;
        
       
        &--materials {
            margin: 0;
            margin-bottom: 5px;
            margin-right: 32px;
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 140%;
            color: #FB8C00;
        }

        &--printer {
            margin: 0;
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 140%;
            color: #2C2F36;
            opacity: 0.4;
        }
    }
    
    &__line {
        width: 100px;
        height: 3px;
        background-color: #FB8C00;
        margin-bottom: 40px;
    }

    &__title {
        position: relative;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 140%;
        color: #2C2F36;
        padding-bottom: 10px;
        list-style: none;
        cursor: pointer;

        &:hover {
            color: #2F80ED;
        }

        &--text {
            min-width: 246px;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 140%;
            color: #2C2F36;   
        }
    }

    &__list-item {
        margin-bottom: 25px;
        list-style: none;
        

        &--details {
            background: url('../img/price_plus.png') right 5px no-repeat;
            border-bottom: rgba(180, 187, 206, 0.3) 3px solid;

            &:hover {
                background: url('../img/plus_blu.png') right 5px no-repeat;
            }
        }

        &--details[open] {
            background: url('../img/minus_blu.png') right 10px no-repeat;
            border-bottom: #2F80ED 3px solid;

            & .promo__title {
                color: #2F80ED;

                &--text {
                    padding-bottom: 15px;
                }
            }
        }
    }
}

details summary::-webkit-details-marker { display:none}

@media (min-width: 750px) {
    
    .price-container {
        display: flex;
    }

    .promo {
        width: 50%;
    }

    .form-block {
        width: 50%;
    }

    /*.sales {
        .price {
            .form-block {
                width: 100%;
            }
        }
    }*/

}

@media (min-width: 1200px) {
    .price {
        max-width: 1600px;
        margin-bottom: 120px;
        background: url("../img/price_bg_top.png") top/100% 257px no-repeat, 
        url("../img/price_bg_bottom.png") bottom/100% 300px no-repeat, 
        radial-gradient(98.97% 276.64% at 1.03% 40.7%, #EBF6FF 0%, #EFF8FF 100%);

        &--terms {
            background: url("../img/price_bg_top.png") top/100% 257px no-repeat, 
            url("../img/price_bg_bottom.png") bottom/100% 200px no-repeat, 
            radial-gradient(98.97% 276.64% at 1.03% 40.7%, #EBF6FF 0%, #EFF8FF 100%);
            

            &::before{
                display: none;
            }
        }

        &__wrapper { 
            padding-top: 257px;
            max-width: 1170px;
            margin: 0 auto;
        }
        
        &__title-container {
            margin: 0 auto;
            max-width: 1170px;
        }
    }   

    .price-container {
        display: flex;
    }

    .promo {
        margin-right: 30px;
        width: 470px;
        min-height: 635px;
        margin-bottom: 0;

        &__wrapper {
            margin-left: 40px;
            margin-right: 40px;
        }

        &__abs {
            &::before {
                left: 370px;
            }

            &--text {
                width: 388px; 
            } 
        }

        &__content {
            &::after {
                width: 390px;
            }
            &::before {
                left: 370px;
            }
        }
    }     
}