.price {
    margin: 0 auto;
    background: rgba(10,144,66,0.1);
    width: auto;
    height: 80%;
    z-index: -10;
    background-repeat: no-repeat;
    margin-bottom: 102px;

    &__wrapper {
        margin-left: 15px;
    }
}

.promo {
    background: #F1F5F8;
    box-shadow: 0px 4px 68px rgba(33, 33, 33, 0.06);
    width: 345px;
    height: 693px;
    border-radius: 35px;
    margin-bottom: 32px;
    z-index: 10;
    

    &__wrapper {
       padding-top: 44px;
       margin-left: 24px;
       margin-right: 24px;
    }

    &__menu {
        display: flex;
        
       
        &--materials {
            margin: 0;
            margin-bottom: 5px;
            margin-right: 32px;
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 140%;
            color: #FB8C00;
        }

        &--printer {
            margin: 0;
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 140%;
            color: #2C2F36;
            opacity: 0.4;
        }
    }
    
    &__line {
        width: 100px;
        height: 3px;
        background-color: #FB8C00;
        margin-bottom: 40px;
    }

    &__abs {
        position: relative;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 140%;
        color: #2F80ED;
        margin-bottom: 16px;

        &::before {
            position: absolute;
            content: "";
            background-color: #2F80ED;
            width: 10px;
            height: 2px;
            top: 10px;
            left: 275px;
        }

        &--text {
            width: 246px;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 140%;
            color: #2C2F36;
            margin-bottom: 25px;  
        }

        &--line {
            width: 100%;
            height: 3px;
            margin-bottom: 24px;
            background: #2F80ED;
        }
    }

    &__content {
        position: relative;
        margin-bottom: 28px;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 140%;
        color: #2C2F36;
        list-style: none;

        &::after {
            position: absolute;
            content: "";
            background: #B4BBCE;
            width: 297px;
            height: 3px;
            opacity: 0.3;
            top: 35px;
            left: 0px;
        }

        &::before {
            position: absolute;
            content: "";
            background-image: url('../img/price_plus.png');
            background-repeat: no-repeat;
            width: 13px;
            height: 13px;
            top: 4px;
            left: 270px;
        }
    }
}

@media (min-width: 900px) {
    .price {
        max-width: 1600px;
        margin: 0 auto;
        background: rgba(10,144,66,0.1);
        background-repeat: no-repeat;
        margin-bottom: 184px;

        &__wrapper { 
            position: relative; 
            max-width: 1170px;
            margin: 0 auto;
        }

        &__bg {
            position: relative;
            &::before {
                position: absolute;
                content: "";
                background-image: url('../img/price_bg_bottom.png');
                background-repeat: no-repeat;
                z-index: 0;
                width: 1600px;
                height: 250px;
                left: 0px;
                top: -200px;
            }
        }
        

        &__title-container {
            margin: 0 auto;
            max-width: 1170px;
        }
    }   

    .price-container {
        display: flex;
    }

    .promo {
        margin-right: 30px;
        width: 470px;
        height: 635px;
        margin-bottom: 0;

        &__wrapper {
            margin-left: 40px;
            margin-right: 40px;
        }

        &__abs {
            &::before {
                left: 370px;
            }

            &--text {
                width: 388px; 
            } 
        }

        &__content {
            &::after {
                width: 390px;
            }
            &::before {
                left: 370px;
            }
        }
    }     
}