.product-card {
    margin-right: 30px;
    position: relative;
    background: radial-gradient(98.97% 276.64% at 1.03% 40.7%, #EBF6FF 0%, #EFF8FF 100%);
    border-radius: 35px;
    height: 284px;
    width: 320px;
    
    &__title {
        text-align: center;
        transform: translateY(130px);
        margin-left: 53px;
        margin-right: 53px;
        margin-bottom: 16px;
    }

    &__link {
        text-decoration: none;
        font-weight: 700;
        font-size: 18px;
        line-height: 140%;
        color: #2C2F36;
    }

    &__text {
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        text-align: center;
        color: #2C2F36;
        transform: translateY(136px);
        margin-left: 46px;
        margin-right: 46px;
    }
}