.product-card {
    margin-right: 30px;
    position: relative;
    background: radial-gradient(98.97% 276.64% at 1.03% 40.7%, #EBF6FF 0%, #EFF8FF 100%);
    border-radius: 35px;
    height: 284px;
    width: 320px;

    &--one {
        &::before {
            position: absolute;
            content: "";
            z-index: 10;
            width: 200px;
            height: 162px;
            background-image: url('../img/picture-one.png');
            background-repeat: no-repeat;
            left: 28%;
            top: -60px;
        }
    }

    &--two {
        &::before {
            position: absolute;
            content: "";
            z-index: 10;
            width: 76px;
            height: 210px;
            background-image: url('../img/picture-two.png');
            background-repeat: no-repeat;
            left: 40%;
            top: -100px;
        }
    }

    &--three {
        &::before{
            position: absolute;
            content: "";
            z-index: 10;
            width: 214px;
            height: 184px;
            background-image: url('../img/picture-three.png');
            background-repeat: no-repeat;
            left: 20%;
            top: -80px;
        }
    }

    &--four {
        &::before {
            position: absolute;
            content: "";
            z-index: 10;
            width: 180px;
            height: 178px;
            background-image: url('../img/picture-four.png');
            background-repeat: no-repeat;
            left: 23%;
            top: -70px;
        }
    }

    &--five {
        &::before {
            position: absolute;
            content: "";
            z-index: 10;
            width: 100px;
            height: 161px;
            background-image: url('../img/picture-five.png');
            background-repeat: no-repeat;
            left: 36%;
            top: -60px;
        }
    }

    &--six {
        &::before {
            position: absolute;
            content: "";
            z-index: 10;
            width: 166px;
            height: 188px;
            background-image: url('../img/picture-six.png');
            background-repeat: no-repeat;
            left: 26%;
            top: -70px;
        }
    }

    &--seven {
        &::before {
            position: absolute;
            content: "";
            z-index: 10;
            width: 175px;
            height: 108px;
            background-image: url('../img/picture-seven.png');
            background-repeat: no-repeat;
            left: 25%;
            top: -35px;
        }
    }

    &--eight {
        &::before {
            position: absolute;
            content: "";
            z-index: 10;
            width: 74px;
            height: 162px;
            background-image: url('../img/picture-eight.png');
            background-repeat: no-repeat;
            left: 39%;
            top: -45px;
        }
    }

    &--nine {
        &::before {
            position: absolute;
            content: "";
            z-index: 10;
            width: 86px;
            height: 164px;
            background-image: url('../img/picture-nine.png');
            background-repeat: no-repeat;
            left: 38%;
            top: -50px;
        }
    }
    
    &__title {
        text-align: center;
        transform: translateY(130px);
        margin-left: 53px;
        margin-right: 53px;
        margin-bottom: 16px;
    }

    &__link {
        text-decoration: none;
        font-weight: 700;
        font-size: 18px;
        line-height: 140%;
        color: #2C2F36;
    }

    &__text {
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        text-align: center;
        color: #2C2F36;
        transform: translateY(136px);
        margin-left: 46px;
        margin-right: 46px;
    }
}

@media (min-width: 900px) {
    .product-card {
        width: 370px;
        height: 284px;
    }
}