.sales {
    background: url("../img/price_bg_top_adaptive.png") top/100% 150px no-repeat, 
    url("../img/price_bg_adbottom.png") bottom/100% 300px no-repeat,  
    radial-gradient(98.97% 276.64% at 1.03% 40.7%, #EBF6FF 0%, #EFF8FF 100%);

    & .sales-container {
        &__content-sla {
            display: none;
        }
    }

    &__block-open {
        &.sales-container {
            &__content-sla {
                display: block;
            }

            &__content-fdm {
                display: none;
            }
        }
    }

    .promo {
        display: none;
    }
}

.sales-container {
    min-width: 345px;
    width: auto;
    margin-right: 15px;
    border-radius: 35px;
    height: auto;
    background: #FFFFFF;
    box-shadow: 0px 4px 68px rgba(33, 33, 33, 0.06);

    &__wrapper {
        padding: 70px 24px;
    }

    &__menu {
        display: flex;
        margin-bottom: 65px;
    }

    &__method {
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        color: #2C2F36;
        margin-bottom: 32px;
    }

    &__material {
        font-weight: 600;
        font-size: 14px;
        line-height: 140%;
        color: #2C2F36;
        opacity: 0.4;
        margin-bottom: 8px;
    }

    &__standart {
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        color: #2C2F36;
        margin-bottom: 24px;
    }

    &__list {
        list-style: none;
    }

    &__item {
        margin-bottom: 24px;
    }

    &__prise {
        font-weight: 700;
        font-size: 16px;
        line-height: 140%;
        color: #2C2F36;
    }

    &__line {
        width: 100%;
        height: 3px;
        background: #B4BBCE;
        opacity: 0.2;
        border-radius: 18px;
        margin-bottom: 24px;
    }
}

.sales {
    .price {
        margin-bottom: 0;
        &__wrapper {
            padding-top: 40px;
            padding-bottom: 350px;
        }
        background: none;

        &__title-container {
            display: none;
        }
    }
}

@media (min-width: 600px) {
    .sales-container {
        width: 70%;
        margin: 0 auto;
    }
}

@media (min-width: 750px) {
    .sales {
        .promo {
            display: block;
        }
    }

    .sales-container {
        &__item {
            display: flex;
            justify-content: space-between;
        }
    }
}

@media (min-width: 1200px) {
    .sales {
        max-width: 1600px;
        background: url("../img/price_bg_top.png") top/100% 257px no-repeat, 
        url("../img/price_bg_bottom.png") bottom/100% 300px no-repeat, 
        radial-gradient(98.97% 276.64% at 1.03% 40.7%, #EBF6FF 0%, #EFF8FF 100%);
        margin-bottom: 0;
        margin: 0 auto;
            
        .price {
            margin-bottom: 0;
            &__title-container {
                display: block;
            }

            &__wrapper {
                padding-bottom: 400px;
            }
        }
    }

    .sales-container {
        width: 1170px;
        height: 582px;
        margin-bottom: 180px;

        &__wrapper {
            padding-top: 70px;
            padding-left: 0;
            padding-right: 0;
        }
    
        &__menu {
            margin-bottom: 55px;
            margin-left: 70px;
        }

        &__method {
            margin-bottom: 54px;
            margin-left: 70px;
        }

        &__standart {
            margin-top: 15px;
            margin-bottom: 15px;
        }
    
        &__material {
            display: none;

            &--row {
                display: flex;
                margin-bottom: 37px;
            }

            &--row-top {
                margin-bottom: 45px;
            }
        }
    
        &__list {
            display: flex;
            list-style: none;
            padding-left: 70px;
            

            &--color {
                background: rgba(180,187,206,0.15);
            }
        }
    
        &__item {
            display: block;
            width: 136px;
            margin-right: 113px;
            margin-bottom: 0;

            &--desktop {
                width: 247px;
                margin-right: 53px;
            }

            &--desktop-header {
                padding-top: 12px;
            }

            &--header {
                width: 158px;
                margin-right: 92px;
            }
        }
    
        &__prise {
            margin-top: 15px;
            font-weight: 700;
            font-size: 16px;
            line-height: 140%;
            color: #2C2F36;  
        }
    
        &__line {
         display: none;
        }
    }

    .sales {
        .price {
            &__wrapper {
               padding-top: 0;
            }         
        }
    }
}