.services {
    &__block-left {
        margin-right: 15px;
    }

    &__block-left-text {
        font-weight: 400;
        font-size: 24px;
        line-height: 140%;
        color: #2C2F36;
        margin-bottom: 32px;
    }

    &__block-right {
        margin-right: 15px;
    }

    &__block-right-text {
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        color: #2C2F36;

        &--top {
            margin-bottom: 24px;
        }
    }
}

@media (min-width: 900px) {
    .services {
        &__block-left {
            margin-right: 30px;
        }
    } 
}

