.stages {
    &__wrapper {
        margin-bottom: 5px;
        margin-left: 15px;
    }

    &__list {
        list-style: none;
    }

    &__point {
        display: none;
    }

    &__item {
        &--one {
            position: relative;

            &::after {
                position: absolute;
                content: "01";
                color: #2F80ED;
                opacity: 0.3;
                z-index: -20;
                font-weight: 700;
                font-size: 110px;
                line-height: 145px;
                width: 50px;
                height: 50px; 
                font-family: Helvetica, sans-serif;
                top:-100px;
                left: 50px;
            }
        }

        &--two {
            position: relative;

            &::after {
                position: absolute;
                content: "02";
                color: #2F80ED;
                opacity: 0.3;
                z-index: -20;
                font-weight: 700;
                font-size: 110px;
                line-height: 145px;
                width: 50px;
                height: 50px; 
                font-family: Helvetica, sans-serif;
                top:-100px;
                left: 50px;
            }
        }

        &--three {
            position: relative;
            
            &::after {
                position: absolute;
                content: "03";
                color: #2F80ED;
                opacity: 0.3;
                z-index: -20;
                font-weight: 700;
                font-size: 110px;
                line-height: 145px;
                width: 50px;
                height: 50px; 
                font-family: Helvetica, sans-serif;
                top:-100px;
                left: 50px;
            }
        }

        &--block {
            position: relative;
            width: 345px;
            height: 246px;
            background-color: white;
            border-radius: 35px;
            margin-bottom: 93px;
            box-shadow: 0px 4px 68px rgba(32, 52, 91, 0.08);
            padding-left: 40px;
            padding-top: 40px;
            overflow: hidden;

            &::after {
                position: absolute;
                content: "";
                background: #FB8C00;
                width: 320px;
                height: 4px;
                border-radius: 0 0 60px 60px;
                top: 242px;
                left: 15px;
            }
        }

        &--title {
            width: 204px;
            margin-bottom: 42px;
            font-weight: 800;
            font-size: 24px;
            line-height: 29px;
            color: #2C2F36;

            &-one {
                margin-bottom: 42px;
            }

            &-two {
                margin-bottom: 92px;
            }

            &-three {
                margin-bottom: 71px;
            }
        }

        &--text {
            width: 265px;
            margin-bottom: 36px;
            font-weight: 500;
            font-size: 16px;
            line-height: 140%;
            align-items: flex-end;
            color: #2C2F36;
        }
    }
}

@media (min-width: 900px) {
    .stages {
        overflow: hidden;
        
        &__wrapper {
            margin: 0 auto;
            width: 1170px;
        }
        
        &__list {
            display: flex;
        }

        &__point {
            position: relative;
            display: block;
            width: 8px;
            height: 8px;
            margin-right: 11px;
            top: 120px;

            &::after {
                position: absolute;
                content: "";;
                background-image: url("../img/stages-litle-point.png");
                width: 4px;
                height: 4px;
                left: -5px;
                top: 9px;
            }

            &::before {
                position: absolute;
                content: "";
                background-image: url("../img/stages-litle-point.png");
                width: 4px;
                height: 4px;
                left: 9px;
                top: 9px;
            }
        }
    
        &__item {
            width: 370px;
            margin-right: 11px;

            &--three {
                margin-right: 0;
            }

            &::after {
                width: 330px;  
            }

            &--one {
                &::before {
                    position: absolute;
                    content: "";
                    background: #2F80ED;
                    box-shadow: 10px 0px 0px -2px rgba(47, 128, 237, 0.4), -10px 0px 0px -2px rgba(47, 128, 237, 0.4);
                    width: 8px;
                    height: 8px;
                    border-radius: 4px;
                    left: 359px;
                    top: 120px;
                }
            }

            &--two {
                &::before {
                    position: absolute;
                    content: "";
                    background:#2F80ED;
                    box-shadow: 10px 0px 0px -2px rgba(47, 128, 237, 0.4), -10px 0px 0px -2px rgba(47, 128, 237, 0.4);
                    width: 8px;
                    height: 8px;
                    border-radius: 4px;
                    left: 359px;
                    top: 120px;
                }
            }
        }
    }
}