.title {
    font-weight: 800;
    font-size: 62px;
    line-height: 76px;
    color: #2C2F36;

    &--top {
        width: 350px;

        &-breakWord {
            display: block;
        }
    }
}

.title-universal {
    font-weight: 800;
    font-size: 62px;
    line-height: 76px;
    color: #2C2F36;
    width: auto;
    margin-top: 90px;

    &--moddeling {
        width: 300px;
    }
}

.title-secondary {
    font-weight: 800;
    font-size: 48px;
    line-height: 59px;
    color: #2C2F36;
    min-width: 345px;
    padding-right: 15px;

    &--manufacturing {
        margin-bottom: 30px;
    }
    
    &--prise {
        padding-bottom: 64px;
        min-width: 310px;  
    }

    &--question {
        min-width: 282px;
        margin-bottom: 24px;
    }

    &--advantages {
        background: none;
        min-width: 358px;
        margin-bottom: 60px;
    }

    &--sales {
        margin-bottom: 64px;
    }

    &--stages {
        min-width: 345px;
        margin-bottom: 121px;
    }
}

@media (min-width: 500px) {
    .title-universal {
        width: auto;
        margin-top: 90px;
    
        &--moddeling {
            width: auto;
        }
    }
}

@media (min-width: 900px) {
    .title {
        &--top {
            width: auto;
            font-size: 72px;
            line-height: 88px;
        }
    }

    .title-universal {
        font-weight: 800;
        font-size: 48px;
        line-height: 59px;
    }

    .title-secondary {
        &--manufacturing {
            margin-bottom: 129px;
        }
        
        &--work {
            margin-bottom: 64px;
        }

        &--question {
            min-width: auto;
        }

        &--advantages {
            margin-bottom: 0;
            padding-top: 32px;
        }

        &--sales {
            margin-bottom: 64px;
        }

        &--stages {
            width: auto;
            margin-bottom: 125px;
        }
    }
}