.top-printing {
    background: rgba(10,144,66,0.1);

    &__title-wrapper {
        padding-top: 78px;
        padding-left: 15px;
        padding-bottom: 100px; 

        &--desktop {
            display: none;
        }
    }
}


@media (min-width: 900px) {
    .top-printing {
        max-width: 1600px;
        margin: 0 auto;
        
        &__title-wrapper {
            width: 1170px;
            padding-left: 0;
            margin: 0 auto;
            
            &--adaptiv {
                display: none;
            }

            &--desktop {
                display: block;
            }
        }
    }
}