.top-printing {
    background: url("../img/bg_adaptive_bottum.png") bottom/100% 150px no-repeat, 
    radial-gradient(98.97% 276.64% at 1.03% 40.7%, #EBF6FF 0%, #EFF8FF 100%);

    &__title-wrapper {
        padding-top: 78px;
        padding-left: 15px;
        padding-bottom: 200px; 

        &--desktop {
            display: none;
        }
    }
}


@media (min-width: 900px) {
    .top-printing {
        background: url("../img/modeling-header-bottom.png") bottom/100% 150px no-repeat, 
        radial-gradient(98.97% 276.64% at 1.03% 40.7%, #EBF6FF 0%, #EFF8FF 100%);
        max-width: 1600px;
        margin: 0 auto;
        
        &__title-wrapper {
            width: 1170px;
            padding-left: 0;
            margin: 0 auto;
            
            &--adaptiv {
                display: none;
            }

            &--desktop {
                display: block;
            }
        }
    }
}