.topsection {
    background: url("../img/bg_adaptive_bottum.png") bottom/100% 150px no-repeat, 
    radial-gradient(98.97% 276.64% at 1.03% 40.7%, #EBF6FF 0%, #EFF8FF 100%);
    margin: 0 auto;
    margin-bottom: 38px;
}

.topsection-wrapper {
    padding-left: 15px;
    padding-top: 100px;
    padding-bottom: 150px;


    &__picture {       
        background-size: cover;
        margin-bottom: 72px;
    }

    &__list {
        list-style: none;
    }

    &__content {
        position: relative;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        color: #2C2F36;
        
        &--house {
            &::after {
                position: absolute;
                content: "";
                background: #9BA9B5;
                opacity: 0.2;
                border-radius: 36px;
                width: 150px;
                height: 3px;
                left: 0;
                top: 70px;
            }
        }

        &--stack {
            &::after {
                position: absolute;
                content: "";
                background: #9BA9B5;
                opacity: 0.2;
                border-radius: 36px;
                width: 150px;
                height: 3px;
                left: 0;
                top: 70px;
            }
        }
    }

    &__item {
        position: relative;
        width: auto;

        &::before {
            position: absolute;
            content: "";
            background-color: #FFFFFF;
            border-radius: 50px;
            width: 60px;
            height: 60px;
            left: 0px;
            top: -80px;
        }

        &--house {
            margin-bottom: 143px;

            &::after {
                position: absolute;
                content: "";
                z-index: 10;
                width: 24px;
                height: 26.67px;
                background-image: url('../img/header-menu1.png');
                left: 15px;
                top: -65px;
            }
        }

        &--stack {
            margin-bottom: 170px;

            &::after {
                position: absolute;
                content: "";
                z-index: 10;
                width: 24px;
                height: 26.67px;
                background-image: url('../img/header-menu2.png');
                left: 15px;
                top: -65px;
            }
        }

        &--printer {
            &::after {
                position: absolute;
                content: "";
                z-index: 10;
                width: 27px;
                height: 27px;
                background-image: url('../img/header-menu3.png');
                left: 15px;
                top: -65px;
            }
        }
    }
}

@media (min-width: 900px){
    .topsection {
        max-width: 1600px;
        min-height: 940px;
        margin: 0 auto;
        background: url('../img/bg.jpg') no-repeat;
        margin-bottom: 100px;
    }

    .topsection-wrapper {
        position: relative;
        margin: 0 auto;
        max-width: 1170px;
        padding-top: 150px;
        padding-left: 15px;
        padding-bottom: 0;

        &__picture {
            position: absolute;
            z-index: 10;
            width: 700px;
            height: 480px;
            left: 625px;
            top: 167px;
            margin-bottom: 0;
        }

        &__list {
            display: flex;
        }

        &__item {
            margin-right: 63px;
            &--house {
                min-width: 162px;
            }

            &--stack {
                min-width: 195px;
            }

            &--printer {
                min-width: 186px;
            }
        }

        &__content {
            &--house {
                width: 162px;

                &::after {
                    transform: rotate(90deg);
                    left: 115px;
                    top: 0px;
                }
            }

            &--stack {
                width: 195px;

                &::after {
                    transform: rotate(90deg);
                    left: 145px;
                    top: 0px;
                }
            }

            &--printer {
                width: 186px;
            }
        }
    }
}