.topsection {
    background: url("../img/bg_adaptive_bottum.png") bottom/100% 150px no-repeat, 
    radial-gradient(98.97% 276.64% at 1.03% 40.7%, #EBF6FF 0%, #EFF8FF 100%);
    margin: 0 auto;
    margin-bottom: 38px;

    &__picture {       
        background-size: cover;
        margin-bottom: 72px;
    }       
}

@media (min-width: 900px){
    .topsection {
        max-width: 1600px;
        min-height: 940px;
        margin: 0 auto;
        background: url('../img/bg.jpg') no-repeat;
        margin-bottom: 100px;
        overflow: hidden;
    }
}