.title-wrapper {
    &--topsection {
        margin-bottom: 183px;
    }
    
    &--manufacturing {
        padding-left: 15px;
    }
}

.wrapper-universal {
    padding-top: 70px;
    padding-left: 15px;
    padding-bottom: 200px; 

    &--desktop {
        display: none;
    }
}

.wrapper {
    padding-left: 15px;

    &--topsection {
        padding-top: 100px;
        padding-bottom: 150px;
    }

    &--advantages {
        margin-bottom: 100px;
        margin-right: 15px;
    }

    &--sales {
        padding-top: 150px;
        padding-bottom: 32px;
    }

    &--services {
        padding-top: 67px;
        margin-bottom: 100px;
    }

    &--not-found {
        width: auto;
        padding-top: 55px;
        text-align: center;
        
    }
}

@media (min-width: 500px) {
    .wrapper-universal {
            
            &--adaptiv {
                display: none;
            }

            &--desktop {
                display: block;
            }
    }
}

@media (min-width: 900px) {
    .title-wrapper {
        &--topsection {
            margin-bottom: 199px;
        }
    }

    .wrapper-universal {
        max-width: 1170px;
        padding-left: 0;
        margin: 0 auto;
    }

    .wrapper {
        position: relative;

        &--services {
            position: static;
            max-width: 1170px;
            display: flex;
            margin: 0 auto;
            margin-bottom: 180px;
        }
        
        &--topsection {
            margin: 0 auto;
            max-width: 1170px;
            padding-top: 150px;
            padding-bottom: 0;
            padding-left: 0;
        }

        &--advantages {
            max-width: 1170px;
            margin: 0 auto;
            margin-bottom: 211px;
            overflow: hidden;
        }

        &__picture {
            position: absolute;
            z-index: 10;
            width: 700px;
            height: 480px;
            left: 625px;
            top: 167px;
            margin-bottom: 0;
        }

        &--not-found {
            padding-top: 75px;
        }
    }
}

@media (min-width: 1200px) {
    .wrapper {
        &--sales {
            position: static;
            padding-top: 257px;
            width: 1170px;
            margin: 0 auto;
            padding-left: 0;
        }
    }
}