.wrapper {
    max-width: 1170px;
    display: flex;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 40px;
}

.logo {
    width: 85px;
    height: 24px;
}

.navadaptiv {
    width: 44px;
    height: 44px;
    cursor: pointer;
    border-radius: 22px;
    background-color: #FB8C00;

    &__button {
        position: relative;
        margin: 13px 9px;
        width: 26px;
        height: 2px;
        background-color: white;

        &::before {
            position: absolute;
            content: "";
            background-color: white;
            width: 14px;
            height: 2px;
            top: 8px;
            left: 12px;
        }

        &::after {
            position: absolute;
            content: "";
            background-color: white;
            width: 21px;
            height: 2px;
            top: 16px;
            left: 5px;
        }    
    }
}

@media (max-width: 900px){
    .nav {
        display: none;
    }        
}

@media (min-width: 900px){

    .navadaptiv {
        display: none;
    }

    .nav__list {
        list-style: none;
        display: flex;
        align-items: center;
    }
    
    .nav__item {
        margin-right: 56px;
    }
    
    .nav__link {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #2C2F36;
        text-decoration: none;
        font-family: 'Gilroy';
    }
    
    .button {
        background-color: #FB8C00;
        width: 256px;
        height: 48px;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 140%;
        color: #FFFFFF; 
        border-radius: 88px;
    }

    .button:hover {
        background: #2F80ED;
    }
}