.question {
    margin-left: 15px;
    background: rgba(10,144,66,0.1);
    border-radius: 35px;
    width: 345px;
    height: 850px;
    margin-bottom: 100px;

    &__wrapper {
        margin-left: 24px;
        margin-right: 24px;

        &--title {
            padding-top: 50px;
            margin-bottom: 25px;
        }
    }
    &__title {
        width: 282px;
    }
    &__text {
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        color: #2C2F36;
        margin-bottom: 30px;
    }

    &__comment {
        font-weight: 500;
        font-size: 12px;
        line-height: 140%;
        color: #959CAC;

        &--privacy-policy {
            color: #2F80ED;
        }
    }
}

.form-label {
    &__block {
        font-weight: 500;
        font-size: 12px;
        line-height: 140%;
        color: #959CAC;
    }
}

.input {
    width: 273px;
    height: 50px;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: #959CAC;
    margin-bottom: 24px;
    padding-left: 24px;

    &__your-question {
        height: 200px;
        margin-bottom: 33px;
    }
}

@media (min-width: 900px) {
    .question {
        margin-left: 0;
        background: rgba(10,144,66,0.1);
        border-radius: 35px;
        width: 1170px;
        height: 433px;
        margin: 0 auto;
        margin-bottom: 100px;
    
        &__wrapper {
            display: flex;
            margin-left: 0;
            margin-right: 0;
    
            &--title {
                padding-top: 0;
                margin-bottom: 24px;
            }
        }

        &__info {
            margin: 70px 35px 70px 70px;
            width: 50%;
        }

        &__title {
            width: auto;
        }
        &__text {
            margin-bottom: 0;
            width: 380px;
        }

        &__input {
            width: 50%;
            margin: 70px 70px 70px 35px;
        }

        &__comment {
            &--privacy-policy {
                width: 218px;
            }
        }
    }

    .form-label {
        display: flex;
        &__block {
            display: flex;
            flex-direction: column;
        }
    }
    .input {
        width: 210px;
        height: 50px;
        margin-bottom: 24px;
        padding-left: 24px;

        &__name {
            margin-right: 30px;
        }
    
        &__your-question {
            width: 474px;
            height: 109px;
            margin-bottom: 33px;
        }
    }

    .button-blok {
        display: flex;
    }
}