.topsection {
    background-size: cover;
    background-image: url('../img/bg_adaptive.jpg');
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-bottom: auto;
    margin-bottom: 38px;
}

.subheader {
    min-width: 375px;

    &__picture {       
        width: auto;
        margin-bottom: 72px;
    }

    &__block {
        margin-bottom: 75px;
    }
}

.titlewrapper {
    margin-bottom: 99px;

    &__title {
        font-weight: 800;
        font-size: 62px;
        line-height: 76px;
        color: #2C2F36;
    
        &-thred {
            font-weight: 800;
            font-size: 62px;
            line-height: 76px;
            color: #FB8C00
        }
    }
}

.subheader__items {
    position: relative;
    width: 370px;
    margin-left: 15px;

    &::before {
        position: absolute;
        content: "";
        width: 72px;
        height: 3px;
        background-color:  #FB8C00;
        left: 0px;
        top: 175px;
    }

    &-one {
        position: relative;
        background-color: #FFFFFF;
        border-radius: 50px;
        width: 60px;
        height: 60px;
        margin-bottom: 24px;

        &::before {
            position: absolute;
            content: "";
            z-index: 10;
            width: 24px;
            height: 26.67px;
            background-image: url('../img/header-menu1.png');
            left: 17px;
            top: 17px;
        }
    }

        &-content {
            width: auto;
            font-weight: 500;
            font-size: 16px;
            line-height: 140%;
            color: #2C2F36;   
        }
    &-two {
        position: relative;
        background-color: #FFFFFF;
        border-radius: 50px;
        width: 60px;
        height: 60px;
        margin-bottom: 24px;

        &::before {
            position: absolute;
            content: "";
            z-index: 10;
            width: 24px;
            height: 26.67px;
            background-image: url('../img/header-menu2.png');
            left: 17px;
            top: 17px;
        }
    }
    &-three {
        position: relative;
        background-color: #FFFFFF;
        border-radius: 50px;
        width: 60px;
        height: 60px;
        margin-bottom: 24px;

        &::before {
            position: absolute;
            content: "";
            z-index: 10;
            width: 24px;
            height: 26.67px;
            background-image: url('../img/header-menu3.png');
            left: 17px;
            top: 17px;
        }
    }
}

.bg-adaptive-bottum {
    background-repeat: no-repeat;
    background-size: cover;
}


@media (min-width: 900px){
    .topsection {
        max-width: 1600px;
        min-height: 940px;
        margin: 0 auto;
        background-image: url('../img/bg.jpg');
    }

    .subheader {
        position: relative;
        margin: 0 auto;
        max-width: 1170px;
        margin-top: 108.47px;

        &__picture {
            position: absolute;
            content: "";
            z-index: 10;
            width: 813px;
            height: 501px;
            left: 625px;
            top: -30px;
        }

        &__items {
            margin-left: 0;
        }       
    }

    .titlewrapper {
        margin-bottom: 370px;
        width: 370px;

        &title {
            font-size: 72px;
            line-height: 88px;
            
        }
    }

    .subheader__items {
        display: grid;
        grid-template: repeat(2, auto) / repeat(3, auto);
        position: relative;
        width: 370px;
    
        & > div:nth-child(1) {
            grid-column-start: 1;
            grid-column-end: 4;
            margin-bottom: 115px;
        }
        
        & > div:nth-child(2) {
            padding-right: 30px;
            width: 162px;
            height: 66px;
        }
        
        & > div:nth-child(3) {
            margin-left: 30px;
            margin-right: 30px;
            width: 195px;
            height: 66px;
        }
        
        & > div:nth-child(4) {
            margin-left: 30px;
            width: 160px;
            height: 66px;
        }
    }
    .bg-adaptive-bottum {
        display: none;
    }
}